.footer__copyright {
  color: #545454;
  font-size: 1.125rem;
  padding: 69px 0px 51px;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 450px) {
  .footer__copyright {
    font-size: 0.875rem;
    padding: 49px 0px 33px;
  }
}