
@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: .6;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}

.grid-cards__card_out {
  animation-name: slide-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

}