.profile__name {
  max-width: 328px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  font-size: 2.625rem;
  line-height: 3rem;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 450px) {
  .profile__name {
    font-size: 1.6875rem;
    max-width: 218px;
    margin: 21px 10px 1px 27px;
  }
}